.container {
	width: 100%;
	min-height: 100vh;
	background-image: radial-gradient(
			circle at center,
			#e5ebef 0.1rem,
			transparent 0.1rem
		),
		radial-gradient(circle at center, #e5ebef 0.2rem, transparent 0.2rem);
	background-size: 2rem 2rem, 4rem 4rem;
	background-color: #fafafa;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchArea {
	width: 60%;
	height: 40vh;
	background-image: linear-gradient(
			to right,
			rgba(3, 37, 65, 0.8) 30%,
			rgba(1, 180, 228, 0.1) 100%
		),
		url("../../public/assets/imgs/mainBg.jpg");
	background-size: cover;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 3rem;
}

.searchArea > h2 {
	font-size: 3rem;
	line-height: 1;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.searchArea > h3 {
	font-size: 2em;
	font-weight: 600;
	margin: 0;
}

.inputSection {
	margin-top: 10%;
	position: relative;
}

input[type="text"] {
	width: calc(100% - 2rem);
	height: 2rem;
	line-height: 2rem;
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.5);
	border: 0;
	border-radius: 1.5rem;
	padding: 0.5rem 1rem;
	outline: 1px solid #55f;
}

input[type="text"]:focus {
	outline: 2px #222 solid;
}

.searchBtn {
	height: calc(3rem + 1px);
	padding: 0.5rem 2rem;
	border: 1px solid #fff;
	background: linear-gradient(to right, #1a8 0%, #55f 100%);
	border-radius: 30px;
	position: absolute;
	top: 0;
	right: -1px;
	color: #fff;
	cursor: pointer;
}

.mainContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.list {
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.list > * {
	flex: 1 0 200px 150px;
	margin: 1rem;
	box-sizing: border-box;
}

.loadMoreBtn {
	position: absolute;
	bottom: 1rem;
	margin: 2rem;
	padding: 1rem;
	border: none;
	cursor: pointer;
	border-radius: 0.5rem;
	background: #0f2e67;
	color: #fff;
	font-size: 1.2rem;
	transition: transform 0.3s linear;
}

.loadMoreBtn:hover {
	transform: scale(1.2);
}

/* Media Queries */

@media (max-width: 768px) {
	.searchArea {
		width: 100%;
	}

	.inputSection {
		margin-top: 5%;
	}
}

@media (max-width: 480px) {
	.searchArea {
		width: 100%;
	}

	.searchArea > h2 {
		font-size: 2rem;
        padding: 0 1rem;
	}

	.searchArea > h3 {
		font-size: 1.5rem;
        padding: 0 1rem;

	}

	.inputSection {
        align-self: center;
		width: 90%;
		font-size: 1em;
	}

	.list {
		width: 90%;
	}

	.list > * {
		flex: 1 0 100%;
	}

	.loadMoreBtn {
		margin: 1rem;
		padding: 0.5rem;
		font-size: 1rem;
	}
}
